<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.example.mytasker">

    <dist:module dist:instant="true" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/LightMode">
        <activity android:name=".activities.LoginActivity"></activity>
        <activity android:name=".chat.DialogsActivity"></activity>
        <activity android:name=".chat.MessagesActivity"></activity>
        <activity android:name=".activities.SignUpActivity" />
        <activity android:name=".activities.VerifyContact" />
        <activity android:name=".activities.FeedbackByPosterActivity" />
        <activity android:name=".activities.FeedbackByTaskerActivity" />
        <activity android:name=".activities.ProfileActivity" />
        <activity android:name=".activities.BidConfirm" />
        <activity android:name=".activities.HistoryQues" />
        <activity android:name=".activities.HistoryFeed" />
        <activity android:name=".activities.AddSkill">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.mytasker.activities.DashboardActivity" />
        </activity>
        <activity android:name=".activities.BidsListActivity" />
        <activity android:name=".activities.PostFeed">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.mytasker.activities.DashboardActivity" />
        </activity>
        <activity
            android:name=".activities.HistoryTask"
            android:label="@string/title_activity_prev_posts">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.mytasker.activities.DashboardActivity" />
        </activity>
        <activity android:name=".activities.ContactUs" />
        <activity android:name=".activities.TandC" />
        <activity android:name=".activities.PrivacyPolicy">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.mytasker.activities.SettingActivity" />
        </activity>
        <activity
            android:name=".activities.EditPassword"
            android:parentActivityName=".activities.SettingActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.mytasker.activities.SettingActivity" />
        </activity>
        <activity
            android:name=".activities.SearchActivity"
            android:label="@string/title_activity_search"
            android:parentActivityName=".activities.DashboardActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.mytasker.activities.DashboardActivity" />
        </activity>
        <activity
            android:name=".activities.NotificationActivity"
            android:label="@string/title_activity_notification"
            android:parentActivityName=".activities.DashboardActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.mytasker.activities.DashboardActivity" />
        </activity>
        <activity android:name=".activities.QuestionDetailActivity" />
        <activity android:name=".activities.PostQuestion">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.mytasker.activities.DashboardActivity" />
        </activity>
        <activity android:name=".activities.TaskDetailActivity" />
        <activity android:name=".activities.PostTask">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.mytasker.activities.DashboardActivity" />
        </activity>
        <activity android:name=".activities.dummy.TempPostActivity" />
        <activity android:name=".activities.DashboardActivity" />
        <activity android:name=".activities.SettingActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.mytasker.activities.DashboardActivity" />
        </activity>
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
    </application>

</manifest>