<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.esselion.pass">

    <dist:module dist:instant="true" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.esselion.pass.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/LightMode">
        <activity android:name="com.esselion.pass.activities.SplashActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name="com.esselion.pass.activities.AvatarChooser">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.esselion.pass.activities.DashboardActivity" />
        </activity>
        <activity android:name="com.esselion.pass.activities.IntroActivity" />
        <activity android:name="com.esselion.pass.activities.LoginActivity" />
        <!--
     Set custom default icon. This is used when no icon is set for incoming notification messages.
     See README(https://goo.gl/l4GJaQ) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_launcher_round" />
        <!--
 Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <activity
            android:name="com.esselion.pass.chat.DialogsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.esselion.pass.chat.MessagesActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.esselion.pass.activities.FeedbackByPosterActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.esselion.pass.activities.FeedbackByTaskerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.esselion.pass.activities.ProfileActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.esselion.pass.activities.BidConfirm"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.esselion.pass.activities.HistoryQues"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.esselion.pass.activities.HistoryFeed"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.esselion.pass.activities.BidsListActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.esselion.pass.activities.PostFeed"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.esselion.pass.activities.DashboardActivity" />
        </activity>
        <activity
            android:name="com.esselion.pass.activities.HistoryTask"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_prev_posts"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.esselion.pass.activities.DashboardActivity" />
        </activity>
        <activity
            android:name="com.esselion.pass.activities.ContactUs"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.esselion.pass.activities.TandC"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.esselion.pass.activities.PrivacyPolicy"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.esselion.pass.activities.SettingActivity" />
        </activity>
        <activity
            android:name="com.esselion.pass.activities.EditPassword"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:parentActivityName="com.esselion.pass.activities.SettingActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.esselion.pass.activities.SettingActivity" />
        </activity>
        <activity
            android:name="com.esselion.pass.activities.NotificationActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_notification"
            android:parentActivityName="com.esselion.pass.activities.DashboardActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.esselion.pass.activities.DashboardActivity" />
        </activity>
        <activity
            android:name="com.esselion.pass.activities.QuestionDetailActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.esselion.pass.activities.PostQuestion"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.esselion.pass.activities.DashboardActivity" />
        </activity>
        <activity
            android:name="com.esselion.pass.activities.TaskDetailActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.esselion.pass.activities.PostTask"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.esselion.pass.activities.DashboardActivity" />
        </activity>
        <activity
            android:name=".activities.dummy.TempPostActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.esselion.pass.activities.DashboardActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.esselion.pass.activities.SettingActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:configChanges="keyboardHidden|orientation|screenSize"
                android:screenOrientation="portrait"
                android:value="com.esselion.pass.activities.DashboardActivity" />
        </activity>
        <activity
            android:name="com.esselion.pass.activities.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait">
            <!--android:theme="@style/SplashTheme"-->

        </activity>

        <service
            android:name="com.esselion.pass.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name="com.esselion.pass.Server" />
    </application>

</manifest>